{% extends 'main.html'%}

{% block title %} Login {% endblock %}
    {% block content %}
     <div class="form_container">
        <h2>Login User</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label class="form-label" for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" required><br>
            
            <label class="form-label" for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required><br>
            {% comment %} <label class="form-label" for="confirm_password">Confirm Password:</label> 
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm password" required><br><br>
             {% endcomment %}
            <input class="btn-m" type="submit" value="Login   ">
            <a href="{% url 'register' %}" style=" margin-left: 30px;">Don't have an account? Register</a>
        </form>
    </div>
    {% endblock %}
    