{% extends 'main.html' %}
{% block title %} QR Code {% endblock %}
    {% block content %}
<div class="container" style=" background-color:white; padding: 15px; width: 40%; position: relative; ">

    <h2 style="display: inline-block;  margin: 2px;">QR Code of: {{ short_url }}</h2>

    <a href="{% url 'shorten_url' %}" style="float: right; text-decoration: none; margin-right: 7px; font-size: 20px; color: black;">✕</a>

    <hr>
    <img  src="data:image/png;base64,{{ qr_code_data }}" alt="QR Code" class="qr-code"/>
</div>
    {% endblock %}
