{% extends 'main.html'%}
{% block title %}Shorten URL{% endblock %}

    {% block content %}

<h2>Shorten URL Page</h2>
<form method="post" action="{% url 'shorten_url' %}">
    {% csrf_token %}    
    {{ form.as_p }}
    <button type="submit">Shorten URL</button>
</form>

<hr>
<center>
          {% for item in obj %}
          <div style="border:2px solid black; width:50%; padding:10px; margin:10px;">
    
        <h3> your original URL: {{ item.original_url }}</h3>
       <h3>Your Shortened URLs:<a href="http://127.0.0.1:8000/{{ item.short_url }}" target="_blank">
                127.0.0.1:8000/{{ item.short_url }}
            </a></h3>

            <hr>
            <p>Click Count: {{ item.counter }} </p>
            <p>Created at: {{ item.created_at|timesince }} ago </p>
            <button><a href="{% url 'delete_url' item.id %}">Delete URL</a></button>
    </div>
    {% endfor %}

</center>
    {% endblock %}
 
    