{% extends 'main.html'%}
{% block title %}Shorten URL{% endblock %}

    {% block content %}
<center>
<h2>Shorten URL Page</h2>
<form method="post" action="{% url 'shorten_url' %}" >
    {% csrf_token %}    
    {{ form.as_p }}
    <button class="btn-m" type="submit">Shorten URL</button>
</form>
</center>
<hr>
  
          {% for item in obj %}
          <div class="container">
            <center>
    
        <h3> {{ item.original_url }}</h3>
        {% if item.is_expired %}
            <p style="color: red;"> Expired URL</p>
            {% else %}
       <h4>Short URLs :<a href="http://127.0.0.1:8000/{{ item.short_url }}" target="_blank">
                127.0.0.1:8000/{{ item.short_url }}
            </a></h4></center>
          

            <hr>
            <div class="row">
            
            <a href="{% url 'edit_url' item.id %}"><button class ="btn" >Customize Short URL</button></a>
            
            <a href="{% url 'expire_url' item.id %}"><button class ="btn" >Set Expiration Date</button></a>
            <a href="{% url 'qr_code' item.id %}"><button class ="btn" >QR Code</button> </a>
           <a href="{% url 'delete_url' item.id %}"> <button class ="btn" >Delete</button></a>
            </div>
              {% endif %}
            <hr>
            <div class ="row">
            <p> {{ item.counter }} Times Clicked </p>
            {% if item.last_clicked %}
                 <p>   {{ item.last_clicked|timesince }} ago Clicked</p>
                {% else %}
                 <p>   Not clicked</p>
                {% endif %}
                
                 {% if item.updated_at %}
                 <p >{{ item.updated_at|timesince }} ago ustomize</p>
                {% else %}
                 <p>   Not Customize</p>
                {% endif %}
           

            <p style="text-align: right;"> {{ item.created_at|timesince }} ago Created</p>
</div>
    </div>
    {% empty%}
    <h1 style="text-align:center">User have no Url</h1>
          {% endfor %}



    {% endblock %}
 
    